<%= turbo_frame_tag :users do %>
  <%= turbo_flash_messages %>
  <%= h1('Users') %>
  <%= button 'Create New User', new_user_path, color: 'blue', classes: %w[my-3] %>

  <table class="users table-auto">
    <thead>
      <tr>
        <th class="px-4 py-2">Username</th>
        <th class="px-4 py-2">Created At</th>
      </tr>
    </thead>

    <tbody>
      <%= render partial: 'users/user', collection: @users, locals: { format: :list } %>
    </tbody>
  </table>
<% end %>
