<%= form_with model: @database, class: 'database w-full max-w-lg' do |form| %>

  <div class="flex flex-wrap -mx-3 mb-6">
    <div class="w-full md:w-1/2 px-3 mb-6 md:mb-0">
      <%= form.label 'Name *', class: label_class %>
      <%= form.text_field :name, class: input_class %>
      <p class="<%= info_class %>">Choose a descriptive name for the database configuration.</p>
      <% if @database.errors[:name].present? %>
        <p class="<%= error_class %>">Name <%= @database.errors[:name].join(', ') %></p>
      <% end %>
    </div>

    <div class="w-full md:w-1/2 px-3">
      <%= form.label 'Description', class: label_class %>
      <%= form.text_field :description, class: input_class %>
      <p class="<%= info_class %>">Optional information to describe this database connection.</p>
      <% if @database.errors[:description].present? %>
        <p class="<%= error_class %>">Description <%= @database.errors[:description].join(', ') %></p>
      <% end %>
    </div>
  </div>

  <div class="flex flex-wrap -mx-3 mb-6">
    <div class="w-full px-3">
      <%= form.label 'Adapter *', class: label_class %>
      <%= form.select :adapter, database_adapter_options, {}, class: input_class %>
      <p class="<%= info_class %>">Database connection adapter to use for connection.</p>
      <% if @database.errors[:adapter].present? %>
        <p class="<%= error_class %>">Adapter <%= @database.errors[:adapter].join(', ') %></p>
      <% end %>
    </div>
  </div>

  <div class="flex flex-wrap -mx-3 mb-6">
    <div class="w-full px-3">
      <%= form.label 'Database Name *', class: label_class %>
      <%= form.text_field :database, class: input_class %>
      <p class="<%= info_class %>">Name of the database to connect to.</p>
      <% if @database.errors[:database].present? %>
        <p class="<%= error_class %>">Database <%= @database.errors[:database].join(', ') %></p>
      <% end %>
    </div>
  </div>

  <div class="flex flex-wrap -mx-3 mb-6">
    <div class="w-full md:w-1/2 px-3 mb-6 md:mb-0">
      <%= form.label 'Database Username *', class: label_class %>
      <%= form.text_field :username, class: input_class %>
      <p class="<%= info_class %>">Username to use for database authentication.</p>
      <% if @database.errors[:username].present? %>
        <p class="<%= error_class %>">Username <%= @database.errors[:username].join(', ') %></p>
      <% end %>
    </div>

    <div class="w-full md:w-1/2 px-3">
      <%= form.label 'Database Password', class: label_class %>
      <%= form.password_field :password, class: input_class %>
      <p class="<%= info_class %>">Password to use for database authentication.</p>
      <% if @database.errors[:password].present? %>
        <p class="<%= error_class %>">Password <%= @database.errors[:password].join(', ') %></p>
      <% end %>
    </div>
  </div>

  <div class="flex flex-wrap -mx-3 mb-6">
    <div class="w-full md:w-1/2 px-3 mb-6 md:mb-0">
      <%= form.label 'Database Hostname *', class: label_class %>
      <%= form.text_field :host, class: input_class %>
      <p class="<%= info_class %>">Hostname to use for database connection.</p>
      <% if @database.errors[:host].present? %>
        <p class="<%= error_class %>">Hostname <%= @database.errors[:host].join(', ') %></p>
      <% end %>
    </div>

    <div class="w-full md:w-1/2 px-3">
      <%= form.label 'Database Port *', class: label_class %>
      <%= form.number_field :port, in: 1..65535, class: input_class %>
      <p class="<%= info_class %>">Port to use for database connection.</p>
      <% if @database.errors[:port].present? %>
        <p class="<%= error_class %>">Port <%= @database.errors[:port].join(', ') %></p>
      <% end %>
    </div>
  </div>

  <div class="md:flex md:items-center mb-5">
    <div class="md:w-1/3"></div>
    <div class="md:w-2/3">
      <%= form.submit class: submit_class, value: submit_text %>
    </div>
  </div>
<% end %>

