<% if current_user.admin? || current_user == report.user %>
  <% if format == :list %>
    <tr class="report">
      <td class="px-4 py-2"><%= link report.name, report_path(report) %></td>
      <td class="px-4 py-3">
        <% if report.schedule_type == 'weekly' %>
          Every <span class="font-bold text-purple-700"><%= Date::DAYNAMES[report.schedule_day] %></span> at
          <span class="font-bold text-purple-700"><%= report.schedule_time&.strftime('%H:%M') %></span>
        <% elsif report.schedule_type == 'daily' %>
          <span class="font-bold text-purple-700">Daily</span> at
          <span class="font-bold text-purple-700"><%= report.schedule_time&.strftime('%H:%M') %></span>
        <% else %>
          -
        <% end %>
      </td>
      <td class="px-4 py-2"><%= report.updated_at.strftime('%Y-%m-%d %H:%M UTC') %></td>
      <td class="px-4 py-2"><%= report.last_reported_at&.strftime('%Y-%m-%d %H:%M UTC') || 'Never' %></td>
      <% if current_user.admin? %>
        <td class="<%= 'font-bold text-purple-700' if report.user.present? %>"><%= report.user_display %></td>
      <% end %>
    </tr>
  <% end %>
<% end %>
