<div class="container">
  <div class="container">
    <h1 class="font-medium leading-tight text-4xl mt-0 mb-2">Reports</h1>
  </div>

  <div class="container">
    <% if @reports.blank? %>
      <p>You have not created any reports yet. Click "New Report" to get started.</p>
    <% else %>
      <table class="reports table-auto">
        <thead>
          <tr>
            <th class="px-4 py-2">Name</th>
            <th class="px-4 py-2">Schedule</th>
            <th class="px-4 py-2">Last Updated</th>
            <th class="px-4 py-2">Last Emailed</th>
            <% if current_user.admin? %>
              <th class="px-4 py-2">Created By</th>
            <% end %>
          </tr>
        </thead>

        <tbody>
          <% @reports.each do |report| %>
            <tr class="report">
              <td class="px-4 py-2"><%= link_to report.name, report_path(report), class: 'text-purple-500' %></td>
              <td class="px-4 py-3">
                <% if report.schedule_type == 'weekly' %>
                  Every <span class="font-bold text-purple-700"><%= Date::DAYNAMES[report.schedule_day] %></span> at
                  <span class="font-bold text-purple-700"><%= report.schedule_time&.strftime('%H:%M') %></span>
                <% elsif report.schedule_type == 'daily' %>
                  <span class="font-bold text-purple-700">Daily</span> at
                  <span class="font-bold text-purple-700"><%= report.schedule_time&.strftime('%H:%M') %></span>
                <% else %>
                  -
                <% end %>
              </td>
              <td class="px-4 py-2"><%= report.updated_at.strftime('%Y-%m-%d %H:%M UTC') %></td>
              <td class="px-4 py-2"><%= report.last_reported_at&.strftime('%Y-%m-%d %H:%M UTC') || 'Never' %></td>
              <% if current_user.admin? %>
                <td class="font-bold text-purple-700"><%= report.user.email %></td>
              <% end %>
            </tr>
          <% end %>
        </tbody>
      </table>
    <% end %>
  </div>
</div>
